In [57]:
import sys
import os
from pathlib import Path 
current_path = Path().resolve()
abs_path = str(current_path.parent)
sys.path.append(abs_path)

data_path = current_path.parent / 'data'
data_path = data_path.as_posix()

# DATA ANALYSIS & VIZ TOOLS
import matplotlib.pyplot as plt

import pandas as pd
# import geopandas as gpd
pd.options.display.max_columns = 999

#import plotly
#import plotly.graph_objs as go
#import plotly.offline as offline
#offline.init_notebook_mode(connected=True)

import warnings
warnings.filterwarnings('ignore')

### Deforestation data

In [50]:
#path to file
file_path = data_path + "/desflorestamento/" + "deforestation_amazon.csv"

#read the data
df_amazon = pd.read_csv(file_path)

#make some transformations
df_amazon['state'] = df_amazon['state'].astype(str)
df_amazon_sum = df_amazon.groupby(by=['state','year'], as_index=False).sum()
df_amazon_sum = df_amazon_sum.sort_values(by=['state','year'])

#get the cummulative sum for every state
cum_sum =[]
for state in df_amazon_sum['state'].unique():
    mask = df_amazon_sum['state']==state
    cum_sum = cum_sum + list(df_amazon_sum[mask]['area'].cumsum())
    
df_amazon_sum['cum_area_df_amazon']= cum_sum
df_amazon_sum = df_amazon_sum.groupby(by=['year'], as_index=False).sum()
df_amazon_sum = df_amazon_sum.rename(columns={'area':'area_df_amazon'})
df_amazon_sum['year'] = df_amazon_sum['year'].astype(int)

In [51]:
#path to file
file_path = data_path + "/desflorestamento/" + "deforestation_cerrado.csv"

#read the data
df_cerrado = pd.read_csv(file_path)

#make some transformations
df_cerrado['state'] = df_cerrado['state'].astype(str)
df_cerrado_sum = df_cerrado.groupby(by=['state','year'], as_index=False).sum()
df_cerrado_sum = df_cerrado.sort_values(by=['state','year'])

#get the cummulative sum for every state
cum_sum =[]
for state in df_cerrado_sum['state'].unique():
    mask = df_cerrado_sum['state']==state
    cum_sum = cum_sum + list(df_cerrado_sum[mask]['area'].cumsum())

df_cerrado_sum['cum_area_df_cerrado']= cum_sum
df_cerrado_sum = df_cerrado_sum.groupby(by=['year'], as_index=False).sum().round(0)
df_cerrado_sum = df_cerrado_sum.rename(columns={'area':'area_df_cerrado'})
df_cerrado_sum['year'] = df_cerrado_sum['year'].astype(int)

### Fire data

In [49]:
#path to file
file_path = data_path + "/queimadas_inep/" + "amazonia.csv"

#read the data
df_amazon_fire = pd.read_csv(file_path)

df_amazon_fire = df_amazon_fire.rename(columns={'Total':'area_amazon_fire','Ano':'year'})

cols = ['year','area_amazon_fire']
df_amazon_fire = df_amazon_fire[cols]
df_amazon_fire['year'] = df_amazon_fire['year'].astype(int)

In [48]:
#path to file
file_path = data_path + "/queimadas_inep/" + "cerrado.csv"

#read the data
df_cerrado_fire = pd.read_csv(file_path)

df_cerrado_fire = df_cerrado_fire.rename(columns={'Total':'area_cerrado_fire','Ano':'year'})

cols = ['year','area_cerrado_fire']
df_cerrado_fire = df_cerrado_fire[cols]
df_cerrado_fire['year'] = df_cerrado_fire['year'].astype(int)

### Merge data

In [52]:
df = pd.merge(df_amazon_sum,df_amazon_fire, how='outer', on='year')
df = pd.merge(df,df_cerrado_sum, how='outer', on='year')
df = pd.merge(df,df_cerrado_fire, how='outer', on='year')

In [54]:
mask = df['area_amazon_fire'].notnull()
df = df[mask]

In [56]:
df

,year,area_df_amazon,cum_area_df_amazon,area_amazon_fire,area_df_cerrado,cum_area_df_cerrado,area_cerrado_fire
10,1998,17383.0,184988.0,59187.0,NaN,NaN,47706.0
11,1999,17259.0,202247.0,62858.0,NaN,NaN,43850.0
12,2000,18226.0,220473.0,48168.0,NaN,NaN,34393.0
13,2001,18165.0,238638.0,69675.0,29424.0,29424.0,44534.0
14,2002,21650.0,260288.0,169261.0,29424.0,58847.0,87186.0
15,2003,25396.0,285684.0,174400.0,29940.0,88788.0,84113.0
16,2004,27772.0,313456.0,218637.0,29940.0,118728.0,93562.0
17,2005,19014.0,332470.0,213720.0,17613.0,136341.0,85747.0
18,2006,14286.0,346756.0,144422.0,17613.0,153954.0,56880.0
19,2007,11651.0,358407.0,186480.0,13785.0,167739.0,137918.0
20,2008,12911.0,371318.0,103453.0,13785.0,181524.0,58934.0
21,2009,7464.0,378782.0,81682.0,9994.0,191518.0,35899.0
22,2010,7000.0,385782.0,134614.0,9994.0,201512.0,133394.0
23,2011,6418.0,392200.0,58186.0,9540.0,211047.0,61682.0
24,2012,4571.0,396771.0,86719.0,9540.0,220587.0,90600.0
25,2013,5891.0,402662.0,58688.0,13061.0,233648.0,44017.0
26,2014,5012.0,407674.0,83144.0,10825.0,244473.0,67147.0
27,2015,6207.0,413881.0,106438.0,11675.0,256154.0,75094.0
28,2016,7893.0,421774.0,87761.0,6790.0,262938.0,58833.0
29,2017,6947.0,428721.0,107439.0,7312.0,270250.0,66762.0
30,2018,7536.0,436257.0,68345.0,6634.0,276884.0,39449.0
31,2019,NaN,NaN,42719.0,NaN,NaN,25121.0